:host {
    user-select: none;
    display: flex;
    min-width: 90px;
    flex-direction: column;
    min-height: 72px;
    white-space: nowrap; 
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    max-width: 100%;
    margin: 6px 6px 6px 0px;
    gap: 6px;
    flex: 1; 
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 6px;
    align-self: flex-start;
}


.status-indicator{
    height: 6px;
    margin-right: 12px;
    background-color: #121212;

}

.status-indicator.active {
    background-color: #FFFFFF;

}
